<header class="header">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="Home" (click)="navigate('/home', $event)" [ngClass]="(!isActive('/home')?'ui-button-secondary':'')"></button>
            <button pButton type="button" label="Library" (click)="navigate('/library', $event)" [ngClass]="(!isActive('/library')?'ui-button-secondary':'')"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Admin" (click)="navigate('/admin', $event)" [ngClass]="(!isActive('/admin')?'ui-button-secondary':'')"></button>
        </div>
    </p-toolbar>
</header>
