:host >>> .ng-sidebar {
    position: absolute !important;
}

:host >>> .ui-datatable {
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

:host >>> .ng-sidebar--opened {
    top: 0 !important;
    position: relative !important;
}

:host >>> .ng-sidebar__content {
    height: auto !important;
    overflow: hidden !important;
    margin: auto !important;
}

:host >>> .ui-datatable thead.ui-datatable-thead .ui-chkbox-box{
    display:none;
}
/*p-datatable thead.ui-datatable-thead p-dtcheckbox {}*/
