:host /deep/ .ng-sidebar {
  position: absolute;
}

:host /deep/ .ui-datatable{
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

:host /deep/ .ng-sidebar--opened{
    top: 0 !important;
    position: relative;
}

:host /deep/ .ng-sidebar__content{
    height: auto;
    overflow: hidden;
    margin: auto !important;
}
