<p-dialog header="User" [(visible)]="dialogDisplay" modal="modal" width="300" responsive="true" appendTo="body" [draggable]="false" showEffect="fade">
        <p></p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="dialogDisplay=false" label="Cancel" class="ui-button-info"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
</p-dialog>
<p-dataTable [value]="users" dataKey="uid" [paginator]="true" rows="10" [responsive]="true">
    <p-header>Users</p-header>
    <p-column field="uid" header="Id"  [style]="{'width':'150px'}">
        <ng-template let-node="rowData" pTemplate="body">
            <div class="float-left" style="margin-top: 5px;">
                <strong>{{node.uid}}</strong>
            </div>
            <button pButton type="button" icon="fa-trash" class="float-right"></button>
            <button pButton type="button" icon="fa-pencil-square-o" (click)="edit(node)" class="float-right"></button>
            <div class="clearfix"></div>
        </ng-template>
    </p-column>
    <p-column field="email" header="Email"></p-column>
    <p-column field="display" header="Display Name"></p-column>
    <p-column field="role" header="Role"></p-column>
    <p-column field="modules" header="Modules"></p-column>
    <p-column [style]="{'width':'50px'}">
        <ng-template pTemplate="header" >
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </ng-template>
        <ng-template let-node="rowData" pTemplate="body">
            <button pButton type="text" (click)="lockUser(node)" icon="{{!node.locked?'fa-ban':'fa-unlock'}}"></button>
        </ng-template>
    </p-column>
     <p-footer>
         <div class="ui-helper-clearfix" style="width:100%">
             <button pButton type="button" icon="fa-user-plus" style="float:left" (click)="newUser()" iconPos="left" label="Add new user"></button>
         </div>
     </p-footer>
</p-dataTable>
