<p-dialog header="User" [(visible)]="dialogDisplay" modal="modal" width="500" height="400" responsive="true" appendTo="body" [draggable]="true" showEffect="fade">
        <user [user]="selectedUser" [modules]="modules" (onCancelClicked)="onCancelClicked()" (onSaveClicked)="onSaveClicked($event)"></user>
</p-dialog>
<p-dataTable [value]="users" dataKey="uid" [paginator]="true" rows="10" [responsive]="true">
    <p-header>Users</p-header>
    <p-column field="uid" header="Id"  [style]="{'width':'150px'}">
        <ng-template let-node="rowData" pTemplate="body">
            <div class="float-left" style="margin-top: 5px;">
                <strong>{{node.uid}}</strong>
            </div>
            <button pButton type="button" icon="fa-trash" class="float-right" (click)="delete(node)"></button>
            <button pButton type="button" icon="fa-pencil-square-o" (click)="edit(node)" class="float-right"></button>
            <div class="clearfix"></div>
        </ng-template>
    </p-column>
    <p-column field="email" header="Email"></p-column>
    <p-column field="display" header="Display Name"></p-column>
    <p-column field="role" header="Role"></p-column>
    <p-column field="modules" header="Modules">
        <ng-template let-node="rowData" pTemplate="body">
            {{translateModules(node.modules)}}
        </ng-template>
    </p-column>
    <p-column [style]="{'width':'50px'}">
        <ng-template pTemplate="header" >
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </ng-template>
        <ng-template let-node="rowData" pTemplate="body">
            <button pButton type="text" (click)="lockUser(node)" icon="{{!(node.locked.toString() ==='0')?'fa-ban':'fa-unlock'}}"></button>
        </ng-template>
    </p-column>
     <p-footer>
         <div class="ui-helper-clearfix" style="width:100%">
             <button pButton type="button" icon="fa-user-plus" style="float:left" (click)="newUser()" iconPos="left" label="Add new user"></button>
             <button pButton type="button" icon="fa-refresh" style="float:left" (click)="refresh()"></button>
         </div>
     </p-footer>
</p-dataTable>
