<spinner-section *ngIf="loadingData"></spinner-section>
<div class="relative" *ngIf="!loadingData">
    <p-tabMenu [model]="adminTabs" [activeItem]="activeTab"></p-tabMenu>
    <modules *ngIf="activeTab.label == 'Modules'" [modules]="modules" (onModulesChanged)="onModulesChanged()"></modules>
    <users *ngIf="activeTab.label == 'Users'" [modules]="modules"></users>
    <activeusers *ngIf="activeTab.label == 'Active Users'"></activeusers>
    <newsadmin *ngIf="activeTab.label == 'News'"></newsadmin>
</div>
